.navbar-link {
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 10px;
    cursor: pointer;
}

.align-right {
    flex: 1 1 auto;
    text-align: right;
}

.toolbar {
    background: rgba(0,0,0,0.8);
}

.icon-lower {
    margin-top: 5px;
}