<mat-toolbar *ngIf="this._navbarType === 'toolbar'" color="primary" class="toolbar">
    <button mat-icon-button (click)="this._navbarNavigation.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="navbar-link">{{ this._navbarTitle }}</h1>
    <h1 class="align-right"></h1>
    <h1 *ngFor="let navbarItem of this._navbarItems">
        <a *ngIf="navbarItem.uri.charAt(0) !== ':'" class="navbar-link" href="{{ navbarItem.uri }}">
            <mat-icon class="icon-lower" *ngIf="navbarItem.icon">{{ navbarItem.icon }}</mat-icon>{{ navbarItem.title }}
          </a>
          <a *ngIf="navbarItem.uri.charAt(0) === ':'" class="navbar-link" (click)="callFunction(navbarItem.uri.replace(':', ''))">
            <mat-icon class="icon-lower" *ngIf="navbarItem.icon">{{ navbarItem.icon }}</mat-icon>{{ navbarItem.title }}
          </a>
    </h1>
  </mat-toolbar>


  <mat-nav-list *ngIf="this._navbarType === 'sidenav'">
    <span  *ngFor="let navbarItem of this._navbarItems">
        <a mat-list-item *ngIf="navbarItem.uri.charAt(0) !== ':'" href="{{ navbarItem.uri }}">
            <mat-icon class="icon-lower" *ngIf="navbarItem.icon">{{ navbarItem.icon }}</mat-icon>{{ navbarItem.title }}
          </a>
        <a mat-list-item *ngIf="navbarItem.uri.charAt(0) === ':'" (click)="callFunction(navbarItem.uri.replace(':', ''))">
            <mat-icon class="icon-lower" *ngIf="navbarItem.icon">{{ navbarItem.icon }}</mat-icon>{{ navbarItem.title }}
          </a>
    </span>
  </mat-nav-list>
