<div class="content">
    <mat-card class="content-card">
      <div style="display: flex; justify-content: center"> 

          <mat-card routerLink="/product/{{ product.id }}" class="card" *ngFor="let product of this.products.getProducts()">
            <img mat-card-image src="{{ product.thumbnail }}">
            <mat-card-content>
              <h3>{{ product.name }}</h3>
              <mat-divider class="top-margin" [inset]=true></mat-divider>
              <div class="top-margin">{{ product.price }} USD</div>
            </mat-card-content>
          </mat-card>
    </div>
    </mat-card>
</div>


